@media screen and (max-width: 1400px) {
    .img-banner2 {
        width: 15vw;

    }
}

@media screen and (max-width: 1100px) {
    .search-bar {
        width: 200px;
    }

    .benefits-card {
        padding: 20px;
        width: 100px;
        background-color: white;
    }
    .benefits-img {
        width: 40px;
    }
    .benefits-text{
        display: none;
    }
    .banner2-top,
    .banner2-bottom {
        flex-direction: column;
        place-content: center space-around;
        align-items: center;
        margin-top: 20px;
    }
    
    .left {
        text-align: center;
        width: 49vw; 
    }
    
    .right {
        border: none;
    }
    
    .img-banner2 {
        width: 25vw;

    }
    
    .google-app-btn {
        margin-left: 40px;
        width: 200px;
    }
    
    .newsletter {
        margin: 10px 0px;
        padding: 10px 0px;
    }
    .footer-top {
        flex-direction: column;
        text-align: center;
    }
    .col1,
    .col2,
    .col3,
    .col4 {
        margin-top: 40px;
        text-align: center;
    }

}
@media screen and (max-width: 975px) {
    nav{   
        place-content: center space-around;
      }
    
    .left {
        width: 48vw; 
    }

    .download-app {
        flex-direction: column !important;
    }
    .invisible-885px {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .hamburger {
        display:initial;    
    }

    .profile-pic,
    .cart,
    .text-hide{
        display: none;
    }

    .logo,
    .search,
    .cart {
    margin-right: 50px;
    }

    .offers-btn {
        margin-left: 5vw;
    }

    .left {
        width: 47vw; 
    }

}
@media screen and (max-width: 700px) {
    .carousel-top {
        display:none !important;
    }

    .left {
        width: 46vw; 
    }
}

@media screen and (max-width: 600px) {
   .benefits {
    display: none !important;
   }
   
   .carousel-name {
    margin-left: 20px;
   }
   .left {
    width: 44vw; 
   }
}

@media screen and (max-width: 560px) {
    .logo {
        margin: 0px;
    }

    .search-bar {
        width: 70px;
    }

    .left {
        width: 43vw; 
       }
}

@media screen and (max-width: 400px) {
    .left {
        width: 40vw; 
       }
}