*{
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.text {
    /* 
    NU MERGE!
    font-family: 'Pacifico', cursive;
     */
     color: darkgrey;
}

.blue-text {
    color:#005eb8;
}

.white-text {
    color: white;
}

.dark-text {
    color: rgb(37, 37, 37);
}

a {
    color: inherit; 
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

.center {
    flex-direction: column;
    background-color: #e9ebee;
}

.promotions-banner {
   padding-bottom: 10px;
}

.carousel {
    padding-bottom:50px ;
    background-color: rgb(241, 142, 1);
}

.promotions-carousel-img {
  width: 35vw;
}
/* 
    Aici am incercat sa mut imaginea cand pun mouse-ul peste
    Products
    .products-dropdown:hover ~ .products-dropdown{
    width: 50px;
    
} */

.carousel-top {
      width: 54vh;
    padding-top: 30px;
    align-items: flex-start;
}

.offers-btn {
    margin-top: 50px;
    margin-left: 5vw;
    width: 75px;
    padding: 10px;
    background-color: white;

}

.offers-btn:hover {
    color: blue;
}

.card1,
.card2,
.card3,
.card4 {
    margin: 10px;
    padding: 10px 25px;
    width: fit-content;
}

.card1:hover {
    background-color: rgb(235, 235, 235);
}

.no-percent,
.percent {
    position: relative;
    left: -100px;

}

.no-percent {
    width: 60px;
    height: 50px;
}

.percent {
    padding: 10px;
    background-color:rgb(255, 80, 0) ;
}

.favorite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 80px;
}

.product-img {
    width: 200px;
    height: 150px;
}

.product-name,
.rating,
.old-price,
.price,
.buy-btn {
    margin-top: 10px;
}

.rating {
    background-color: transparent;
}

.rating-star {
    margin-right:5px ;
    width: 15px;
}

.rating-text {
    margin-left: 25px;
    font-size: medium;
}

.old-price-text {
    text-decoration: line-through;
    margin-right: 15px;
}

.old-price-percent {
    color: rgb(77, 77, 77);
}

.price {
    font-size: large;
    color: red;
    
}

.buy-btn {
    padding: 10px 50px;
    color: #005eb8;
    border: 2px solid #005eb8;
}

/* sterge de pe site-ul final */

.benefits-card {
    padding: 20px;
    width: 180px;
    background-color: white;
}

.benefits-img {
    width: 50px;
    margin-right: 20px;
}

/* ================== */

.carousel-name {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 35vw;
}

.card2:hover,
.card3:hover,
.card4:hover {
    background-color: #90b3d413;
}

.buy-btn-2 {
   margin-top: 10px;
   background: linear-gradient(to right,#4a60c1 10%,#3985e0);
}

.red-left,
.blue-right {
    padding: 10px 20px;
}

.red-left {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    background-color: red;
}

.banner2-top-right {
    color: #005eb8;
}

.text-banner2-top-right {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #1969b4d0;
    
}

.banner2-bottom {
     background-color: white;
}

.right,
.middle,
.left{
    padding: 20px 30px;
}

.left {
    background-color: #f4f8fb;

    width: inherit;
}

.text-banner2-left {
    margin: 10px 20px;
    color: #3985e0;
}

.text1-banner2-middle,
.text-banner2-middle {
    color: #3985e0;
    padding: 17px 150px 17px  5px;
}

.text-banner2-middle {
    border-top: 1px solid #5387b849;
}

.right {
    border-left: 1px solid #5387b849;
}

.img-banner2 {
    width: 20vw;

}

.download-app {
    margin-top: 20px;
    background-image: linear-gradient(to right, gray, #e3e5e6);
}

.google-app-btn {
    margin-left: 50px;
    width: 300px;
}


.newsletter {
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;
    background-image: linear-gradient(to right, gray, #e2aaaa)
    
}

.input-newsletter,
.submit {
    margin:5px;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 25px;
}

.submit {
    background-color: red;
}



